#user-messages
  .ui.grid.stackable
    .row
      .sixteen.wide.column
        .ui.segment.no-box-shadow
          %h2
            Mes conversations 
    .row
      .five.wide.column
        .ui.segment.no-box-shadow.states-messages
          .ui.vertical.menu.user-messages-categories
            = link_to profile_messages_path(current_user.slug), class: "item teal #{'active' if @state.nil?}" do
              = 'Toutes mes conversations'
              .ui.teal.label
                = @user.conversations.to_a.count
            = link_to profile_messages_path(current_user.slug, state: 'pending'), class: "item teal #{'active' if @state == 'pending'}" do
              = 'En attentes de ma réponse'
              .ui.teal.label
                = @user.conversations.pending(@user).count
            = link_to profile_messages_path(current_user.slug, state: 'archived'), class: "item teal #{'active' if @state == 'archived'}" do
              = 'Archivés'
              .ui.teal.label
                = @user.conversations.archived.count
      .eleven.wide.column
        .ui.grid.one.column.doubling.index-messages
          - if @status.empty?
            .column
              .ui.message
                Aucun messages
          - else
            - @status.each do |status|
              - situation = @user.id == status.user_id ? 'buyer' : 'owner'
              = render "product_#{situation}_block", status: status, message: status.last_message, product: status.product
