%p
  %strong= I18n.t('common.first_name')
  = @profile.first_name
%p
  %strong= I18n.t('common.name')
  = @profile.last_name

= image_tag(@user.avatar.url, size: '160x160', alt: 'Avatar', title: @user.username)

- if can? :edit, @profile
  = link_to I18n.t('common.edit'), edit_profile_path(@user.slug)
- if can? :destroy, @user
  = link_to I18n.t('common.delete'), profile_path(@user.slug), method: :delete
