%p
  %strong Pr&eacute;nom:
  = @profile.first_name
%p
  %strong Nom:
  = @profile.last_name

= image_tag(@user.avatar.url, size: '160x160', alt: 'Avatar', title: @user.username)

- if can? :edit, @profile
  = link_to 'Editer', edit_profile_path(@user.slug)
- if can? :destroy, @user
  = link_to 'Supprimer mon compte', profile_path(@user.slug), method: :delete
