%p
  %strong Pr&eacute;nom:
  = @user.profile.first_name
%p
  %strong Nom:
  = @user.profile.last_name

- unless @user.avatar.nil?
  = image_tag(@user.avatar.url, size: '160x160', alt: 'Avatar', title: @user.username)
- else
  = image_tag("default_avatar.png")

- if can? :edit, @profile
  = link_to 'Editer', edit_profile_path(@user.slug)
- if can? :destroy, @user
  = link_to 'Supprimer mon compte', profile_path(@user.slug), method: :delete
