%p#notice= notice
%p
  %strong Pr&eacute;nom:
  = @user.profile.first_name
%p
  %strong Nom:
  = @user.profile.last_name
- if can? :edit, @user.profile or can? :destroy, @user.profile
  = link_to 'Editer', edit_profile_path(@user.slug)
  = link_to 'Supprimer mon compte', profile_path(@user.slug), method: :delete
