%h2 Sign in
- resource = User.new
= simple_form_for(resource, url: admin_path ) do |f|
  = f.input :login, required: false, autofocus: true
  = f.input :password, required: false
  = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Se connecter"
= render "devise/shared/links"
