- user = @conversation.product.user == current_user ? @conversation.buyer.username : @conversation.product.user.username
%h1= "Conversation avec #{user}"

- if @conversation.last_message.sender != current_user
  = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
    = f.input :content, label: 'Texte', as: :text
    = f.hidden_field :conversation_id, value: @conversation.id
    = f.button :submit, 'Contacter'
- else
  = "#{user} n'à pas encore répondu !"

%br
%br

- @conversation.messages.each_with_index do |msg, index|
  - if not index.zero?
    %hr
  = current_user == msg.sender ? 'Vous avez dit : ' : "#{msg.sender.username} à dit: "
  %br
  = msg.content
  %br
