%h3.ui.header.block.black
  %i.icon.user
  Se connecter
.ui.two.column.middle.aligned.relaxed.grid.basic.segment
  .column.normal-connect
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.input :login, :label => "Email ou Nom d'utilisateur", :required => false, :autofocus => true
      = f.input :password, :label => 'Mot de passe', :required => false
      .form-actions
      = f.button :submit, "Se connecter"
  .column.social-connect
    = link_to "Se connecter via Facebook", omniauth_authorize_path(resource_name, :facebook), class: 'ui purple submit button'
  .ui.vertical.divider
    OU
