- user = message.from_owner? ? message.receiver : message.sender 
#status-card
  .ui.segment.attached.index-user
    .ui.grid.two.column.stackable
      .column.avatar-contact
        .row.user-avatar
          = link_to product_status_path(@product.slug, user.slug) do
            = image_tag(user.avatar.url, alt: user.username, title: user.username, class: '')
      .column.details-contact
        .row.user-name
          = link_to user.username, profile_path(user.slug), class: 'underline'
        .row.user-note= t('common.no_appreciation')
        .row.user-pending-message
          - if status.closed
            %i.icon.circular.inverted.emphasized.red.ban.circle
            = I18n.t('common.status_closed')
          - else
            = t('messages.pending', count: status.pending_messages_count)
        .row.user-actions
          .ui.buttons
            - if @product.selled
              = link_to product_status_index_path(@product.slug), class: 'ui button starpop chat-button', 'data-content' => I18n.t('common.resee'), 'data-variation' => 'inverted' do
                %i.icon.unhide
            - else
              = link_to product_status_path(@product.slug, user.slug), class: 'ui button starpop chat-button large', 'data-content' => I18n.t('common.my_conversation_with', name: user.username), 'data-variation' => 'inverted' do
                %i.icon.chat
              = simple_form_for status, url: product_status_path(product_id: @product.slug, id: user.slug), method: :put, 'data-content' => I18n.t('common.done_product'), 'data-variation' => 'inverted' do |f|
                = f.hidden_field :done, value: true
                = f.button :button, class: 'ui button starpop done-button large' do
                  %i.icon.checkmark
