- user = message.from_owner? ? message.receiver : message.sender 
- name = message.from_owner? ? 'vous-même' : message.sender .username
#status-card
  .ui.segment.attached.index-user
    .ui.grid.stackable
      .four.wide.column.user-avatar
        = image_tag(user.avatar.thumb.url, alt: user.username, title: user.username)
      .six.wide.column
        %p= user.username
        %p note
      .six.wide.column.user-actions
        - if @product.avalaible?
          .ui.buttons.actions
            .ui.icon.button.ban.starpop{ 'data-content' => I18n.t('tooltip.messages.index.close'), 'data-variation' => 'inverted' }
              = simple_form_for status, url: product_status_path(product_id: @product.slug, id: user.slug), method: :put, remote: true do |f|
                = f.hidden_field :closed, value: true
                = f.button :button do
                  %i.icon.ban.circle
            .ui.icon.button.messages.starpop{ 'data-content' => I18n.t('tooltip.messages.index.chat'), 'data-variation' => 'inverted' }
              = link_to product_status_path(product_id: @product.slug, id: user.slug, anchor: 'last-message') do
                %i.icon.chat
            .ui.icon.button.check.starpop{ 'data-content' => I18n.t('tooltip.messages.index.done'), 'data-variation' => 'inverted' }
              = simple_form_for status, url: product_status_path(product_id: @product.slug, id: user.slug), method: :put do |f|
                = f.hidden_field :done, value: true
                = f.button :button do
                  %i.icon.checkmark
        - else
          .ui.icon.button.messages.starpop.button-selled{ 'data-content' => I18n.t('tooltip.messages.index.chat'), 'data-variation' => 'inverted' }
            = link_to product_status_path(product_id: @product.slug, id: user.slug, anchor: 'last-message') do
              %i.icon.chat
    .ui.dimmer{ class: "status_#{status.id} #{('visible active' if status.closed)}" }  
      .wrap-no-click
        .content
          %h2.ui.inverted.icon.header
            %i.icon.circular.inverted.emphasized.red.ban.circle

  %h4.ui.bottom.attached.header.base-attached-label
    - if @product.avalaible?
      %span.avalaible{ class: "avalaible_#{status.id}", style: ('display: none' if status.closed) }
        %i.icon.mail
        = link_to product_status_path(product_id: @product.slug, id: user.slug, anchor: 'last-message') do
          = "#{status.pending_messages_count} message(s) en attente"
      %span.closed{ class: "closed_#{status.id}", style: ('display: none' if not status.closed) }
        = simple_form_for status, url: product_status_path(product_id: @product.slug, id: status.user.slug), method: :put, remote: true do |f|
          = f.hidden_field :closed, value: false
          = f.button :button, 'Réouvrir la discussion', class: 'no-box-shadow reopen-button'

