- user = message.from_owner? ? message.receiver : message.sender

- if @product.selled and @product.selled_to == status.user
  - hoverable_class = 'green-hoverable'
- elsif status.closed
  - hoverable_class = 'red-hoverable'
#status-card
  .ui.segment.attached.index-user.hoverable{ class: ("#{hoverable_class}" if hoverable_class) }
    .ui.grid.two.column.stackable
      .column.avatar-contact
        .row.user-avatar
          = link_to product_status_path(@product.slug, user.slug) do
            = image_tag(user.avatar.url, alt: user.username, title: user.username, class: '')
      .column.details-contact
        .row.user-name
          = link_to user.username, profile_path(user.slug), class: 'underline'
        .row.user-pending-message
          - if not @product.selled
            - if status.closed
              %i.icon.circular.inverted.emphasized.red.ban.circle
              = I18n.t('common.status_closed')
            - else
              %i.icon.mail
              = t('messages.pending', count: status.pending_messages_count)
          - elsif @product.selled_to == status.user
            %i.icon.circular.inverted.emphasized.green.checkmark
            Vente attribué          
          - else
            = t('status.messages.total', count: status.messages.count)
        .row.user-actions
          .ui.buttons
            - if @product.selled
              = link_to product_status_path(@product.slug, user.slug, anchor: 'last-message'), class: 'ui button starpop unhide-button', 'data-content' => I18n.t('common.resee'), 'data-variation' => 'inverted' do
                %i.icon.chat
            - else
              = link_to product_status_path(@product.slug, user.slug, anchor: 'last-message'), class: 'ui button starpop chat-button large', 'data-content' => I18n.t('common.my_conversation_with', name: user.username), 'data-variation' => 'inverted' do
                %i.icon.chat
              = simple_form_for status, url: product_status_path(product_id: @product.slug, id: user.slug), method: :put, 'data-content' => I18n.t('common.done_product'), 'data-variation' => 'inverted' do |f|
                = f.hidden_field :done, value: true
                = f.button :button, class: 'ui button starpop done-button large' do
                  %i.icon.checkmark
