#conversations
  .row
    .sixteen.wide.column
      %h3.ui.header.block.black
        %i.icon.users
        = I18n.t('common.my_contacts')
      .about
        = current_user.is_owner_of?(@product) ? I18n.t('messages.index.about_my_product_cap') : I18n.t('messages.index.about_product_of_another_cap') 
        = link_to @product.name, product_path(@product.slug)

  - if @product.selled
    .row
      = render 'dimmer_done', user: @product.selled_to
  .row
    - if @status.empty?
      .ui.message
        = I18n.t('common.none_interest')
    - else
      .ui.grid.two.column.stackable
        - @status.reject!{|stat| stat.user_id == @product.selled_to.id } if @product.selled
        - @status.each do |status|
          .column
            = render 'status_card', status: status, message: status.last_message
