#conversations
  .ui.segment.product-header
    %h2.left
      =link_to @product.name, product_path(@product.slug)
    - if @product.avalaible?
      .main-actions.right
        = link_to edit_product_path(@product.slug), class: 'ui button small purple' do
          %i.icon.wrench
          %span
            Editer
        = link_to product_path(@product.slug), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button small purple' do
          %i.icon.remove
          %span
            Supprimer

  - if @product.avalaible? and not @product.active 
    .ui.message.product-state.error
      .title
        Produit Inactif
      .info
        Repondez aux messages en attentes ou fermez les discussions!

  - if not @product.avalaible?
    .row
      = render 'dimmer_done', user: @product.selled_to
  .row
    - if @status.empty?
      = 'Aucun message pour ce produit'
    - else
      .ui.grid.two.column.stackable
        - @status.reject{|stat| stat.user_id == @product.selled_to.id }.each do |status|
          .column
            = render 'status_card', status: status, message: @product.last_message_with(status.user)
