#conversations
  .ui.segment.product-header
    %h2.left
      =link_to @product.name, product_path(@product.slug)
    - if not @product.selled
      .main-actions.right
        = link_to edit_product_path(@product.slug), class: 'ui button small purple' do
          %i.icon.wrench
          %span= I18n.t('common.edit')
        = link_to product_path(@product.slug), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button small purple' do
          %i.icon.remove
          %span= I18n.t('common.delete')

  - if not @product.selled and not @product.active 
    .ui.message.product-state.error
      .title= I18n.t('common.product_inactive')
      .info= I18n.t('common.reply_or_close')
  %h2= I18n.t('common.interest_people')

  - if @product.selled
    .row
      = render 'dimmer_done', user: @product.selled_to
  .row
    - if @status.empty?
      .ui.message
        =I18n.t('common.none_interest')
    - else
      .ui.grid.two.column.stackable
        - @status.reject!{|stat| stat.user_id == @product.selled_to.id } if @product.selled
        - @status.each do |status|
          .column
            = render 'status_card', status: status, message: status.last_message
