#categorie-show
  .ui.four.items.stackable
    - @products.each do |product|
      .item
        .image.small
          - if product.starred_asset
            = link_to image_tag(product.starred_asset.url, alt: product.name, title: product.name), product_path(product.slug)
          - else
            = link_to image_tag('product_default.png'), product_path(product.slug)
        .content
          .meta
            = I18n.t('products.show.avalaible_since')
            = distance_of_time_in_words(DateTime.now.to_i - product.created_at.to_i)
          .name.product-name
            = product.name.capitalize
          .description
            = product.description
          .price
            = product.price
            %i.icon.euro
        .extra
          = link_to product.category_name, category_subcategory_path(@category.slug, product.category_slug)
          - if can? :edit, product
            = link_to 'Edit', edit_product_path(product.slug)
          - if can? :destroy, product
            = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
