#subcategorie-show
  %h3.ui.header.block.black
    %i.icon.suitcase
    = @subcategory.name
  .ui.grid.four.column.stackable
    - @products.each do |product|
      .column.product-card
        = link_to product_path(product.slug) do
          .ui.segment.hoverable
            .image.small
              - if product.starred_asset
                = image_tag(product.starred_asset.url, alt: product.name, title: product.name)
              - else
                = image_tag('product_default.png')
            .product-name
              = product.name.capitalize
            .product-price
              = product.price
              %i.icon.euro
            .product-localisation
              %i.icon.map.marker
              Paris ta vu
            .product-avalaibilty
              = I18n.t('products.show.avalaible_since')
              = distance_of_time_in_words(DateTime.now.to_i - product.created_at.to_i)