%h3.ui.header.block.black
  %i.icon.chat
  Contacter le vendeur
- if not @status
  = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
    = f.input :content, label: false, as: :text
    = f.hidden_field :receiver_id, value: @product.owner.id
    = f.button :button, class: "ui submit fluid labeled icon button" do 
      %i.icon.edit
      = I18n.t('common.contact')

- elsif @status.can_send_message? current_user
  - if @status.last_message.from_owner?
    .respond-message
      Dernier message recu :
      %br
      = @status.last_message.content
  - else
    .no-replied-yet
      Le vendeur n'a pas encore répondu
      %br
      Vous pouvez le relancer une dernière fois
  = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
    = f.input :content, label: false, as: :text
    = f.hidden_field :receiver_id, value: @product.owner.id
    = f.hidden_field :status_id, value: @status.id
    = f.button :button, class: 'ui submit fluid button', style: 'margin-bottom: 25px' do
      Envoyer
- elsif @status.closed
  .no-replied-yet
    %i.icon.circular.inverted.emphasized.red.ban.circle
    = I18n.t('common.status_closed')
- elsif @product.selled?
  .no-replied-yet
    %i.icon.circular.inverted.emphasized.green.checkmark
    = I18n.t('common.product_selled')
- else
  .no-replied-yet
    Le vendeur n'a pas encore répondu

- if @status
  = link_to product_status_path(product_id: @product.slug, id: current_user.slug), class: 'ui button status-link labeled icon' do
    %i.icon.chat
    = I18n.t('status.see_conversation')
