- if @conversation.present?
  - message = @conversation.first.last_message
  - if message.from_seller?
    Dernier message recu :
    = message.content
  - else
    Le vendeur n'a pas encore repondu a votre message
- else
  Contacter le vendeur :

- if message.nil? or (message.present? and message.from_seller?)
  = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
    = f.input :content, label: 'Texte', as: :text
    = f.hidden_field :sender_id, value: current_user.id
    = f.button :submit, 'Contacter'