- message = @product.last_message_with(current_user)
- if message.present?
  - if message.from_seller?
    Dernier message recu :
    = message.content
  - else
    Le vendeur n'a pas encore repondu a votre message
- else
  Contacter le vendeur :

- if message.nil? or (message.present? and message.from_seller?)
  = simple_form_for Message.new do |f|
    = f.input :content, label: 'Texte', as: :text
    = f.hidden_field :product_id, value: @product.id
    = f.hidden_field :receiver_id, value: @product.user.id
    = f.button :submit, 'Contacter'