- if @product.new_record?
  - url = profile_products_path(profile_id: current_user.slug)
- else
  - url = product_path(@product.slug)
  - cat = @product.category || Category.find(@cat)

= simple_form_for @product, url: url do |f|

  = f.input :name, label: I18n.t('common.name')

  = f.input :description, label: I18n.t('common.description')
  = f.input :dpt, label: I18n.t('common.dpt')
  .ui.three.fields
    .field
      = f.input :price, label: I18n.t('common.price')
    .field.icon-field
      %i.icon.euro
    .field.category-field
      Categorie : 
      .ui.dropdown
        .text
          = cat ? cat.name : I18n.t('products.form.choose_category')
        %i.icon.dropdown
        .menu.main-menu
          - Category::main_categories.each do |main|
            .item
              %i.icon.dropdown
              = main.name
              .menu.subdropdown
                - main.subcategories.each do |sub|
                  .item
                    = sub.name
                    #sub-id{ style: 'opacity: 0', 'data-id' => sub.id}
        - if cat
          = f.input :category_id, as: :hidden, input_html: { id: 'id_category_id_field', value: cat.id, class: 'category_id_field' }
        - else
          = f.input :category_id, as: :hidden, input_html: { id: 'id_category_id_field', class: 'category_id_field' }

  = f.button :submit, I18n.t('common.save')

- if @product.new_record? and @product.errors.present? 
  :javascript
    document.getElementById('id_category_id_field').value = ''

