- if @product.new_record?
  - url = profile_products_path(profile_id: current_user.slug)
- else
  - url = product_path(@product.slug)

= simple_form_for @product, url: url do |f|

  
  = f.input :name, label: 'Nom', required: true

  = f.input :price, label: 'Prix', required: true

  = f.input :description, label: 'Description'

  - if @product.category_id.nil?
    = f.association :category, collection: Category.order('main_category_id'), label: 'Catégorie', prompt: "Choisissez une catégorie", hint: "Prenez soin de choisir la bonne catégorie", input_html: {class: "ui selection dropdown"}
  - else
    = f.association :category, collection: Category.order('main_category_id'), label: 'Catégorie', default: @product.category_id, hint: "Prenez soin de choisir la bonne catégorie", input_html: { class: 'ui selection dropdown' }

  = f.button :submit, 'Sauvegarder'
