= simple_form_for @product,  html: { multipart: true }  do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name, label: 'Nom', input_html: { size: 20 }
  .field
    = f.input :description, label: 'Description'
  .field
    - if @product.category_id.nil?
      = f.association :category, collection: Category.order('main_category_id'), label: 'Catégorie', prompt: "Choisissez une catégorie", hint: "Prenez soin de choisir la bonne catégorie"
    - else
      = f.association :category, collection: Category.order('main_category_id'), label: 'Catégorie', default: @product.category_id, hint: "Prenez soin de choisir la bonne catégorie"
  - unless @product.has_maximum_upload?
    .field
      = f.input :asset, label: 'Photos', as: :file, include_blank: true
  - else
    Vous avez atteint le maximum de photo. Supprimez-en une pour en ajouter de nouvelles
  .actions
    = f.button :submit, 'Sauvegarder'
