- if not @status
  .ui.segment
    .ui.fluid.label.attached.top
      Contacter le vendeur :
    = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
      = f.input :content, label: 'Texte', as: :text
      = f.hidden_field :receiver_id, value: @product.owner.id
      = f.button :button, class: "ui submit fluid labeled icon button" do 
        %i.icon.edit
        = I18n.t('common.contact')

- elsif @status.can_send_message? current_user
  Dernier message recu :
  = @status.last_message.content
  = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
    = f.input :content, label: 'Texte', as: :text
    = f.hidden_field :receiver_id, value: @product.owner.id
    = f.hidden_field :status_id, value: @status.id
    = f.button :button, class: "ui submit fluid labeled icon button" do 
      %i.icon.edit
      = I18n.t('common.respond')
- elsif @status.closed
  = I18n.t('common.status_closed')
- elsif @product.selled
  = I18n.t('common.product_selled')
- else
  = I18n.t('form.has_not_reply_yet', name: @product.owner.username)

- if @status
  = link_to I18n.t('status.see_conversation'), product_status_path(product_id: @product.slug, id: current_user.slug)
