- if @product.new_record?
  - url = profile_products_path(profile_id: current_user.slug)
- else
  - url = product_path(@product.slug)

= simple_form_for @product, url: url do |f|

  
  = f.input :name, label: I18n.t('common.name'), required: true

  = f.input :price, label: I18n.t('common.price'), required: true

  = f.input :description, label: I18n.t('common.description')

  - if @product.category_id.nil?
    = f.association :category, collection: Category.order('main_category_id'), label: I18n.t('common.category'), prompt: I18n.t('products.form.choose_category'), hint: I18n.t('products.form.choose_carefully'), input_html: {class: "ui selection dropdown"}
  - else
    = f.association :category, collection: Category.order('main_category_id'), label: I18n.t('common.category'), default: @product.category_id, hint: I18n.t('products.form.choose_carefully'), input_html: { class: 'ui selection dropdown' }

  = f.button :submit, I18n.t('common.save')
