- if not @status
  Contacter le vendeur :
  = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
    = f.input :content, label: 'Texte', as: :text
    = f.hidden_field :receiver_id, value: @product.owner.id
    = f.button :submit, 'Contacter'
- elsif @status.closed
  Le vendeur à décider de ne plus poursuivre la discussion avec vous
- else
  - if @status.can_send_message? current_user
    Dernier message recu :
    = @status.last_message.content
    = simple_form_for Message.new, url: product_messages_path(product_id: @product.id) do |f|
      = f.input :content, label: 'Texte', as: :text
      = f.hidden_field :receiver_id, value: @product.owner.id
      = f.hidden_field :status_id, value: @status.id
      = f.button :submit, 'Répondre'
  - else
    = "#{@product.owner.username} n'a pas encore repondu a votre message"

  = link_to 'Voir la conversation', product_status_path(product_id: @product.slug, id: current_user.slug)
