%h1= 'Editer ' + @product.name 

= render 'form'

#asset_link
  - @product.assets.each do |a|
    %div{ id: "asset_#{a.id}"}
      = image_tag(a.asset)
      %div{ class: "star_product_#{a.id}"}
        - if a.starred
          = image_tag('product_star_thumb.jpg', id: "img_star")
        - else
          .star_asset_link
            = link_to 'Mettre en avant', become_starred_path(id: a.id), method: :put
        .destroy_asset_link
          = link_to 'Supprimer', destroy_asset_path(id: a.id), method: :delete

= link_to 'Retour', product_path(@product.slug)
= link_to 'Destroy', @product, :method => :delete, :data => { :confirm => 'Are you sure?' }
