#products-edit
  %h3.ui.header.block.black
    %i.icon.suitcase
    Editer votre produit
  .ui.grid
    .ten.wide.column
      = render 'form'
    .six.wide.column.upload
      - (Product::MAXIMUM_UPLOAD_PHOTO - @product.photos.count).times.each_with_index do |i, form|
        .ui.segment
          .upload-form{ class: "upload_#{i}" }
            = render 'photos/upload_form', index: i
      - @product.photos.order('photos.created_at DESC').each do |photo|
        .ui.segment
          .edit-upload-form
            = render 'photos/edit_photo', photo: photo

  .row.downlink
    .ui.red.small.button  
      = link_to I18n.t('common.delete'), @product, method: :delete, data: { confirm: 'Are you sure?' }
