%h1= 'Editer ' + @product.name 

= render 'form'

#asset_link
  - @product.assets.each do |a|
    %div{ id: "asset_#{a.id}"}
      = image_tag(a.file)
      %div{ class: "star_product_#{a.id}"}
        - if a.starred
          = image_tag('product_star_thumb.jpg', id: "img_star")
        - else
          .star_asset_link
            = simple_form_for a, url: product_asset_path(id: a.id), html: { multipart: true }, method: :put do |f|
              = f.hidden_field :starred, value: true
              = f.button :submit, 'Mettre en avant'
        .destroy_asset_link
          = link_to 'Supprimer', product_asset_path(id: a.id), method: :delete

= link_to 'Retour', product_path(@product.slug)
= link_to 'Destroy', @product, :method => :delete, :data => { :confirm => 'Are you sure?' }
