#user-products
  .ui.grid.stackable
    .row
      .sixteen.wide.column
        .ui.segment.no-box-shadow
          %h2
            Mes produits
    .row
      .five.wide.column
        .ui.segment.no-box-shadow.block-categories.full-width.no-left-right-padding
          .ui.vertical.menu.user-products-categories
            = link_to profile_products_path(current_user.slug), class: "item teal #{'active' if @main_category.nil?}" do
              = I18n.t('products.index.all_categories')
              .ui.label.teal
                = current_user.products.count
            - Category.products_count_per_category_for(current_user).each do |main|
              = link_to profile_products_path(current_user.slug, category: main.slug), class: "item teal #{'active' if @main_category.present? and main.name == @main_category.name}" do
                = main.name
                .ui.label.teal
                  = main.total
      .eleven.wide.column
        - if @products.count.zero?
          .column
            .ui.message
              Aucun produits
        - else
          .ui.grid.three.column.stackable.index-products
            - @products.includes(:status).includes(:owner).each do |product|
              .column
                .ui.segment.index-product
                  = link_to product_path(product.slug) do
                    - if product.starred_asset
                      = image_tag(product.starred_asset.url, alt: product.name, title: product.name)
                    - else
                      = image_tag('product_default.png')
                  .row.product-name
                    = link_to product.name.capitalize, product_path(product.slug), class: 'underline'
                  .row.product-messages
                    - if not product.selled
                      %i.icon.mail
                      = I18n.t('status.pending', count: product.pending_status_for_owner.count)
                    - else
                      .ui.inverted.icon
                        %i.icon.circular.inverted.emphasized.green.checkmark
                        Produit vendu !
                  .row.product-actions
                    - link_name = product.selled ? I18n.t('common.resee') : I18n.t('common.manage')
                    = link_to link_name, product_status_index_path(product.slug), class: 'ui button purple'
