%p
  %b Nom:
  = @product.name
%p
  %b Description:
  = @product.description

- unless @product.assets.empty?
  #destroy_asset_link
    - @product.assets.each do |a|
      %div
        = image_tag(a.file)
- else
  = image_tag("default_avatar.png")


- if can? :edit, @product
  = link_to 'Editer', edit_product_path(@product.slug)

- if can? :create, @comment
  = render 'products/form_comments'

- if can? :create, Message.new
  = render @product.user != current_user ? 'products/form_message_buyer' : 'products/form_message_seller'


= render 'products/comments'
