#product-show.row
  .ui.grid.stackable
    .ui.nine.wide.column
      .ui.segment
        .ui.header.product-title
          = @product.name.capitalize
          .ui.sub.header.right
            = I18n.t('products.show.avalaible_since')
            = distance_of_time_in_words(DateTime.now.to_i - @product.created_at.to_i)
          %ul#product-carousel
            - unless @product.photos.empty?
              - @product.photos.each_with_index do |a|
                %li.photo-cont
                  = image_tag a.file.url

            - else
              %li.photo-cont
                = image_tag("product_default.png")

        .row
          .ui.segment
            .ui.horizontal.fluid.label.product-label
              = @product.price
              %i.icon.euro
          .ui.segment  
            .ui.horizontal.fluid.label.product-label
              = I18n.t('common.description')
            %p
              = @product.description
      

    .ui.seven.wide.column
      .ui.segment
        .ui.label.attached.top
          A propos du vendeur
        .ui.list
          .item#owner
            .ui.image.small
              = image_tag @product.owner.profile.avatar
            .content
              .header
                = @product.owner.username
              %i.icon.map.marker
              Paris
        .resposetime
          - response_time = @product.owner.response_time
          - satisfaction = @product.owner.satisfaction_rating
          .ui.horizontal.label
            %b= I18n.t('products.show.average_response_time')
            .ui.horizontal.red.label 
              - if response_time.zero?
                Indéfini
              - else
                = distance_of_time_in_words(response_time)
          .ui.horizontal.label
            %b Taux de satisfaction sur les vente
            .ui.horizontal.red.label 
              - if satisfaction.nil?
                Indéfini
              - else
                = number_to_percentage(satisfaction, precision: 0)
          .row
            - if user_signed_in?
              = render current_user.is_owner_of?(@product) ? 'form_message_seller' : 'form_message_buyer'
              - if can? :edit, @product
                = link_to edit_product_path(@product.slug), class: "ui submit fluid labeled icon button" do  
                  %i.icon.edit
                  = I18n.t('common.edit')
            - else
              .row
                .ui.message.purple
                  Connectez-vous pour contacter le vendeur



- if @product.selled
  = I18n.t('common.product_selled')
- else
  - if can? :create, @product.reports.build
    - unless current_user.is_owner_of? @product
      = simple_form_for @product.reports.build, url: product_reports_path(@product.slug) do |f|
        = f.button :submit, I18n.t('common.signal')
  - else
    %i.icon.checkmark
    = I18n.t('common.signaled')
  - if can? :create, @comment
    = render 'form_comments'


= render 'comments'