%p
  %b Nom:
  = @product.name
%p
  %b Description:
  = @product.description

%p
  %b Temps de réponse moyen
  - if @product.owner.response_time.zero?
    Aucun
  - else
    = distance_of_time_in_words(@product.owner.average_response_time)

- unless @product.assets.empty?
  #destroy_asset_link
    - @product.assets.each do |a|
      %div
        = image_tag(a.file)
- else
  = image_tag("default_avatar.png")


- if can? :edit, @product
  = link_to 'Editer', edit_product_path(@product.slug)

- if can? :create, @comment
  = render 'products/form_comments'

- if not @product.avalaible?
  Produit vendu!
- else
  = render current_user.is_owner_of?(@product) ? 'products/form_message_seller' : 'products/form_message_buyer'




= render 'products/comments'
