#product-show
  %h3.ui.header.block.black
    %i.icon.suitcase
    = @product.name.capitalize
  .ui.grid.stackable
    .ui.ten.wide.column.photo-cont
      #product-carousel
        #blueimp-product-carousel.blueimp-gallery.blueimp-gallery-carousel
          .slides
          %a.play-pause
          %ol.indicator
        #links{style: "display:none"}
          - if @product.photos.empty?
            = link_to 'product_default.png' do
              = image_tag("product_default.png")
          - else
            - @product.photos.each_with_index do |a|
              = link_to a.file.medium.url do
                = image_tag a.file.medium.url, title: @product.name, alt: @product.name
      .row.price-dispo
        .product-disponibility
          = I18n.t('products.show.avalaible_since')
          %span.time= distance_of_time_in_words(DateTime.now.to_i - @product.created_at.to_i)
        .product-price
          = @product.price
          %i.icon.euro
      .row
        = @product.description
      .row
        - if not @product.selled
          - if can? :create, @product.reports.build
            - unless current_user.is_owner_of? @product
              = simple_form_for @product.reports.build, url: product_reports_path(@product.slug) do |f|
                = f.button :submit, I18n.t('common.signal')
          - else
            .signaled
              %i.icon.checkmark
              = I18n.t('common.signaled')
    .ui.six.wide.column.details
      %h3.ui.header.block.black.header-user
        %i.icon.user
        A propos du vendeur
      .ui.list
        .item#owner
          .ui.image.small
            = image_tag @user.avatar
          .content
            .header
              = @user.username
            %span
              %i.icon.map.marker
              Paris
      .ui.segment.details-user
        - response_time = @user.response_time
        - satisfaction = @user.satisfaction_rating
        .skills-name
          %p
            %span.label Nombre d'annonces
          %p
            %span.label Nombre de ventes
          %p
            %span.label Satisfaction sur les ventes
          %p
            %span.label= I18n.t('products.show.average_response_time')
        .skills-stat
          %p
            %b= @user.products.count
          %p
            %b= @user.products.joins(:status).where('statuses.done = true').count
          %p
            %b= satisfaction.nil? ? 'Indéfini' : number_to_percentage(satisfaction, precision: 0)
          %p
            %b= response_time.zero? ? 'Indéfini' : distance_of_time_in_words(response_time)
      .row.responsetime
        - if user_signed_in?
          = render current_user.is_owner_of?(@product) ? 'form_message_seller' : 'form_message_buyer'
          - if can? :edit, @product
            = link_to edit_product_path(@product.slug), class: "ui submit fluid labeled icon button" do  
              %i.icon.edit
              = I18n.t('common.edit')
        - else
          .row
            .ui.message.purple
              Connectez-vous pour contacter le vendeur
= render 'comments'
- if can? :create, @comment
  = render 'form_comments'