%p
  %b Nom:
  = @product.name
%p
  %b Description:
  = @product.description

- unless @product.assets.empty?
  #destroy_asset_link
    - @product.assets.each do |a|
      %div{id: "asset_#{a.id}"}
        = image_tag(a.asset)
- else
  = image_tag("default_avatar.png")


- if current_user == @user
  = link_to 'Editer', edit_product_path(@product.slug)
