%p
  %b Nom:
  = @product.name
%p
  %b Description:
  = @product.description

- unless @product.assets.empty?
  #destroy_asset_link
    - @product.assets.each do |a|
      %div
        = image_tag(a.file)
- else
  = image_tag("default_avatar.png")


- if can? :edit, @product
  = link_to 'Editer', edit_product_path(@product.slug)

- if can? :create, @comment
  = render 'products/form_comments'

- if current_user.present? and current_user != @product.user
  = simple_form_for Message.new do |f|
    = f.input :content, label: 'Texte', as: :text
    = f.hidden_field :product_id, value: @product.id
    = f.hidden_field :receiver_id, value: @product.user.id
    = f.button :submit, 'Contacter'

= render 'products/comments'
