%p
  %b Nom:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Disponible depuis : 
  = distance_of_time_in_words(DateTime.now.to_i - @product.created_at.to_i)

%p
  %b Temps de réponse moyen
  - if @product.owner.response_time.zero?
    Aucun
  - else
    = distance_of_time_in_words(@product.owner.average_response_time)

- unless @product.assets.empty?
  #destroy_asset_link
    - @product.assets.each do |a|
      %div
        = image_tag(a.file)
- else
  = image_tag("default_avatar.png")


- if @product.selled
  Produit vendu!
- else
  - if can? :create, @product.reports.build
    - unless current_user.is_owner_of? @product
      = simple_form_for @product.reports.build, url: product_reports_path(@product.slug) do |f|
        = f.button :submit, 'Signaler'
  - else
    %i.icon.checkmark
    Signalé

  - if can? :edit, @product
    = link_to 'Editer', edit_product_path(@product.slug)

  - if can? :create, @comment
    = render 'form_comments'

  - if user_signed_in?
    = render current_user.is_owner_of?(@product) ? 'form_message_seller' : 'form_message_buyer'

= render 'comments'
