!!!5
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title IdeesBebe
    = stylesheet_link_tag 'admin/admin', media: 'all'
    = csrf_meta_tags
  %body#admin
    - if user_signed_in? and current_user.is_admin
      .ui.transparent.inverted.main.menu
        .container
          .title.item Admin
          = link_to admin_dashboard_index_path, class: 'item' do
            %i.icon.home
            Dashboard
          = link_to admin_products_path, class: 'item' do
            %i.icon.suitcase
            Produits
          .right.menu
            = link_to root_path, class: 'item' do
              %i.icon.external.url
              Revenir au site

    = yield

    = javascript_include_tag 'admin/admin'
