!!!5
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title IdeesBebe
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .row#top-menu
      .ui.grid.page.stackable.two.column.equal.height
        .ui.eight.column.wide
          .image.small
            = image_tag "http://a3.res.cloudinary.com/ideesbebe/image/upload/v1394092761/xvfexkvw4us1rha8iq5h.jpg"
        .ui.eight.column.wide.right.aligned
          .row
            - if current_user
              .ui.menu
                .item.item-icon  
                  = current_user.username
                  %br
                  0 new messages
                .item.item-icon
                  .avatar
                    = image_tag "#{current_user.profile.avatar}", style: "height:40px;"
                .ui.dropdown.item.pointing
                  %i.icon.large.settings
                  .menu.right
                    .item
                      = link_to profile_path(current_user.slug) do
                        %i.user.icon 
                        %span Mon profile
                    .item
                      = link_to profile_products_path(current_user.slug) do 
                        %i.suitcase.icon
                        %span Mes produits
                    .item
                      = link_to "#", method: :get do
                        %i.mail.outline.icon
                        %span Mes messages
                    .item
                      = link_to destroy_user_session_path, method: :delete do
                        %i.sign.out.icon
                        %span Deconnexion
            - else
              .ui.menu
                .item
                  = link_to "S'inscrire", new_user_registration_path, class: ''
                .item  
                  = link_to 'Se connecter', new_user_session_path, class: ''
                .item
                  = link_to 'sign in whith facebook', user_omniauth_authorize_path(:facebook)
          .row
            .add-product
              = link_to 'Ajouter un produit', new_user_session_path, class: 'ui teal button'
                                     

    .row#menu-bar
      .ui.grid.page
        .ui.fluid.seven.item.menu
          .item{class: ('active' if current_page?(root_path))}
            = link_to root_path do 
              %i.home.large.icon
          - Category::main_categories.each do |main|
            - active_item = request.url.include?(category_path(main.slug)) ? 'active' : ""
              
            = link_to main.name, category_path(main.slug), class: "item #{active_item}"

    .row.main-contenaire
      .ui.grid.page
        = semantic_flash
        = yield
    .row#footer-section
      .footer-one
        .ui.grid.page
      .footer-two
        .ui.grid.page


    = javascript_include_tag 'application'
